<div class="stripe-payment-sepa-form">
    <div class="stripe-payment-error-box" role="alert" class="alert alert-danger alert-has-icon" style="display: none;">
        {% sw_icon 'blocked' %}
        <div class="alert-content-container">
            <div class="alert-content"></div>
        </div>
    </div>
    <div>
        {% if stripeData.allowSavingSepaBankAccounts or (stripeData.availableSepaBankAccounts and stripeData.availableSepaBankAccounts|length > 0) %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="saved-sepa-bank-accounts">
                    <label class="form-label" for="stripe-payment-saved-sepa-bank-accounts-select">
                        {{ "stripe_payment.form.sepa.sepa_bank_account_selection.saved_sepa_bank_accounts"|trans }}
                    </label>
                    <div class="select-field">
                        <select id="stripe-payment-saved-sepa-bank-accounts-select" class="stripe-saved-sepa-bank-accounts custom-select">
                            <option value="new" selected>
                                <span>{{ "stripe_payment.form.sepa.sepa_bank_account_selection.new_sepa_bank_account"|trans }}</span>
                            </option>
                            {% for sepaBankAccount in stripeData.availableSepaBankAccounts %}
                                <option value="{{ sepaBankAccount.id }}">
                                    {{ sepaBankAccount.name }} | {{ sepaBankAccount.country }}&bull;&bull;&bull;&bull;{{ sepaBankAccount.last4 }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="form-row stripe-sepa-row">
            <div class="form-group col-md-6">
                {# IBAN #}
                <div class="stripe-sepa-field">
                    <div>
                        <label class="form-label" for="stripe-payment-iban-input">
                            {{ "stripe_payment.form.sepa.iban"|trans }} *
                        </label>
                        <div id="stripe-payment-iban-input" class="stripe-element-sepa-iban form-control"><!-- Stripe element is inserted here --></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                {# Account owner #}
                <div class="stripe-sepa-field">
                    <div>
                        <label class="form-label" for="stripe-payment-account-owner-input">
                            {{ "stripe_payment.form.sepa.account_owner"|trans }} *
                        </label>
                        <input type="text" id="stripe-payment-account-owner-input" class="stripe-sepa-account-owner form-control" name="account_owner" required="required" value="{{ context.customer.activeBillingAddress.firstName }} {{ context.customer.activeBillingAddress.lastName }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row stripe-sepa-row">
            <div class="form-group col-md-6">
                {# EMail #}
                <div class="stripe-sepa-field">
                    <div>
                        <label class="form-label" for="stripe-payment-email-input">
                            {{ "stripe_payment.form.sepa.email"|trans }} *
                        </label>
                        <input type="email" id="stripe-payment-email-input" class="stripe-sepa-email  form-control" name="email" required="required" value="{{ context.customer.email }}">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                {# Street #}
                <div class="stripe-sepa-field">
                    <div>
                        <label class="form-label" for="stripe-payment-street-input">
                            {{ "stripe_payment.form.sepa.street"|trans }} *
                        </label>
                        <input type="text" id="stripe-payment-street-input" class="stripe-sepa-street  form-control" name="street" required="required" value="{{ context.customer.activeBillingAddress.street }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row stripe-sepa-row">
            <div class="form-group col-md-6">
                {# ZIP code #}
                <div class="stripe-sepa-field">
                    <div>
                        <label class="form-label" for="stripe-payment-zip-code-input">
                            {{ "stripe_payment.form.sepa.zip_code"|trans }} *
                        </label>
                        <input type="text" id="stripe-payment-zip-code-input" class="stripe-sepa-zip-code  form-control" name="zip_code" required="required" value="{{ context.customer.activeBillingAddress.zipcode }}">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                {# City #}
                <div class="stripe-sepa-field">
                    <div>
                        <label class="form-label" for="stripe-payment-city-input">
                            {{ "stripe_payment.form.sepa.city"|trans }} *
                        </label>
                        <input type="text" id="stripe-payment-city-input" class="stripe-sepa-city form-control" name="city" required="required" value="{{ context.customer.activeBillingAddress.city }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row stripe-sepa-row">
            <div class="form-group col-md-6">
                {# Country #}
                <div class="stripe-sepa-field">
                    <div>
                        <label for="stripe-payment-country-select">
                            {{ "stripe_payment.form.sepa.country"|trans }} *
                        </label>
                        <div class="select-field">
                            <select id="stripe-payment-country-select" class="stripe-sepa-country custom-select" name="country" required="required">
                                {% for country in stripeData.sepaCountryList %}
                                    <option value="{{ country.iso }}" {% if country.id is same as (context.customer.activeBillingAddress.countryId) %}selected="seclected"{% endif %}>
                                        {{ country.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if stripeData.allowSavingSepaBankAccounts %}
        <div class="form-row stripe-sepa-row">
            <div class="form-group">
                {# Save sepa bank account #}
                <div class="stripe-sepa-field custom-control custom-checkbox">
                    <input id="stripe-payment-save-sepa-bank-account-checkbox" class="stripe-save-sepa-bank-account custom-control-input" type="checkbox">
                    <label class="custom-control-label" for="stripe-payment-save-sepa-bank-account-checkbox">
                        {{ "stripe_payment.form.sepa.save_sepa_bank_account"|trans }}
                    </label>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="stripe-sepa-field">
            {{ "stripe_payment.form.required"|trans }}
        </div>

        {# A box for displaying validation errors #}
        <div role="alert" class="alert alert-danger alert-has-icon stripe-payment-validation-error-box" style="display: none;">
            {% sw_icon 'blocked' %}
            <div class="alert-content-container">
                <div class="alert-content"></div>
            </div>
        </div>

        {# A box for displaying the SEPA mandate authorization text #}
        <div role="alert" class="alert alert-info alert-has-icon">
            {% sw_icon 'info' %}
            <div class="alert-content-container">
                <div class="alert-content">
                    {{ "stripe_payment.form.sepa.mandate_info"|trans({'%creditor%': stripeData.salesChannelName}) }}
                </div>
            </div>
        </div>
    </div>
</div>
<template data-stripe-payment-sepa-selection data-stripe-payment-sepa-selection-options="{{
stripeData|merge({
    'persistUrl': path('frontend.checkout.stripePayment.persist'),
    'countryCode': context.customer.activeBillingAddress.country.iso,
    'snippets': {
        "error": "stripe_payment.form.error"|trans,
        "errors": {
            "incomplete_iban": "stripe_payment.form.sepa.errors.incomplete_iban"|trans,
            "invalid_account_owner": "stripe_payment.form.sepa.errors.invalid_account_owner"|trans,
            "invalid_city": "stripe_payment.form.sepa.errors.invalid_city"|trans,
            "invalid_country": "stripe_payment.form.sepa.errors.invalid_country"|trans,
            "invalid_iban": "stripe_payment.form.sepa.errors.invalid_iban"|trans,
            "invalid_iban_country_code": "stripe_payment.form.sepa.errors.invalid_iban_country_code"|trans,
            "invalid_street": "stripe_payment.form.sepa.errors.invalid_street"|trans,
            "invalid_zip_code": "stripe_payment.form.sepa.errors.invalid_zip_code"|trans,
            "invalid_email": "stripe_payment.form.sepa.errors.invalid_email"|trans
        }
    }
})|json_encode()|escape('html_attr')
}}"></template>
